@page "/about"
@using Blazorise.Icons.FontAwesome

<h1 class="m-3">Microcritic</h1>

<div class="m-5">
	<span>Testaufgabe by Jeanne Fayolle</span>
	<div class="mt-2 d-flex align-items-center">
		<img src="/img/GitHub-Mark-32px.png" width="16" height="16" class="ml-2 mr-2" /><a target="_blank" href="https://github.com/cyl1d3/microcritic">@@cyl1d3</a>
	</div>
</div>