@page "/gameslist"
@inject IHttpClientFactory HttpClientFactory
@using microcritic.Shared.ViewModels


<div class="w-100 h-100 d-flex justify-content-center mt-5">
	<div class="flex-column w-75">		
		<h3 class="pb-3">Games List</h3>
		<table class="table table-hover">
			<thead>
			</thead>
			<tbody>
				@foreach (var game in _games ?? Array.Empty<Game>())
				{
					<tr>
						<td><a href="/gamedetails/@game.Id">@game.Name</a></td>
						<td>@game.Developer</td>
						<td><div class="float-right"><ScoreDisplay Score="game.Score" ReviewCount="game.ReviewCount" /></div></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@code {

	private Game[] _games;
	private int _page = 0;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Refresh();
	}

	private async Task Refresh()
	{
		var http = HttpClientFactory.CreateClient("microcritic.ServerAPI.public");
		_games = await http.GetFromJsonAsync<Game[]>($"/api/Games/List/{_page}");
		StateHasChanged();
	}

}
