@inject IHttpClientFactory HttpClientFactory
@using System.Net;
@using Blazorise.Icons.FontAwesome;
@using TailBlazor.Tabs;
@using microcritic.Shared.ViewModels;

<AuthorizeView Roles="Admin">
	<Authorized>
        <div class="flex-column d-flex justify-content-center w-100">
            <div class="align-self-center w-75">
                <TailBlazorTabs Class="py-10">
                    <TailBlazorTab>
                        <TitleContent>
                            <button type="button" class="btn btn-light">
                                <Icon Name="FontAwesomeIcons.Edit" IconStyle="Blazorise.IconStyle.Regular" />
                                <span>Manuelle Eingabe</span>
                            </button>
                        </TitleContent>
                        <TabContent>
                            <GameEntry OnGamesChanged="OnGamesChanged" />  
                        </TabContent>
                    </TailBlazorTab>  
                    <TailBlazorTab Title="CSV Import">
                        <TitleContent>
                            <button type="button" class="btn btn-light">
                                <Icon Name="FontAwesomeIcons.FileCsv" IconStyle="Blazorise.IconStyle.Solid" />
                                <span>CSV-Import</span>
                            </button>
                        </TitleContent>
                        <TabContent>
                            <CsvImport OnGamesChanged="OnGamesChanged" />
                        </TabContent> 
                    </TailBlazorTab>
                </TailBlazorTabs>
            </div>
        </div>
	</Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public EventCallback OnGamesChanged { get; set; }

   
}
