@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using microcritic.Client.Logic;

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Willkommen, @context.User.Identity.Name.UnEmail()!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrieren</a>
        <a href="authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
