<div class="top-row pl-4 navbar navbar-dark microcritic-logo">
    <a class="navbar-brand" href="" />   
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
@*        <li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<Icon Name=FontAwesomeIcons.Home /><span class="pl-3">Startseite</span>
			</NavLink>
        </li>*@
        <li class="nav-item px-3">
			<NavLink class="nav-link" href="gameslist">
				<Icon Name=FontAwesomeIcons.Gamepad /><span class="pl-3">Games</span>
			</NavLink>
        </li> 
        <li class="nav-item px-3">
			<NavLink class="nav-link" href="about">
				<Icon Name=FontAwesomeIcons.Question /><span class="pl-3">About</span>
			</NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
