<div class="d-flex justify-content-center">
	<ul class="pagination">
		<li class="page-item @(_page == 0 ? "disabled" : "")">
			<a class="page-link" @onclick="() => PrevPage()" >&laquo;</a>
		</li>  
		<li class="page-item @((Collection?.Length ?? 0) < PAGESIZE ? "disabled" : "")">
			<a class="page-link" @onclick="() => NextPage()" >&raquo;</a>
		</li>
	</ul>
</div>

@code {
	[Parameter]
	public object[] Collection { get; set; }
		
    [Parameter]
    public EventCallback OnPageChange { get; set; }

	public int Page => _page;

	private const int PAGESIZE = 5;
	private int _page = 0;
	
	private async Task PrevPage()
	{
		_page = _page == 0 ? _page : _page - 1;
		await OnPageChange.InvokeAsync();
	}	
	
	private async Task NextPage()
	{
		_page = (Collection?.Length ?? 0) < PAGESIZE ? _page : _page + 1;
		await OnPageChange.InvokeAsync();
	}

}
