<div class="d-flex justify-content-center">
	<ul class="pagination @(_page == 0 && isLastPage ? "collapse" : "")">
		<li class="page-item @(_page == 0 ? "disabled" : "")">
			<a class="page-link" @onclick="() => PrevPage()" >&laquo;</a>
		</li>  
		<li class="page-item @(isLastPage ? "disabled" : "")">
			<a class="page-link" @onclick="() => NextPage()" >&raquo;</a>
		</li>
	</ul>
</div>

@code {
	[Parameter]
	public object[] Collection { get; set; } //the collection of records to page for

	[Parameter]
	public int Pagesize { get; set; }
		
    [Parameter]
    public EventCallback OnPageChange { get; set; }

	public int Page => _page;

	private int _page = 0;

	private bool isLastPage => (Collection?.Length ?? 0) <= Pagesize;
	
	public async Task PrevPage()
	{
		_page = _page == 0 ? _page : _page - 1;
		await OnPageChange.InvokeAsync();
	}	
	
	public async Task NextPage()
	{
		_page = isLastPage ? _page : _page + 1;
		await OnPageChange.InvokeAsync();
	}

}
